div.cell {
	color: green;
	background-color: lightgray;
	width: 100px;
	height: 100px;
	float: left;
	margin: 2px;
	font-size: 500%;
	font-family: helvetica;
	text-align: center;
	vertical-align: middle;
}

div.first {
	clear: left;
}

div.coloro {
    color: blue;
}